.container{
    width: 1500px;
}
.header{
    margin-top: -150px;
    width: 1290px;
    position: fixed;
    z-index: 2;
    background: white;
    padding-bottom: 10px;
    .header__button{
        margin-left: 200px;
        margin-top: -43px;
    }
}